<div class="container">
    <p textWrap="true" class="h2 description-label">Input A Number!</p>
    <mat-form-field>
        <input matInput [(ngModel)]="textFieldValue" type="number" placeholder="Input A Number..." (keyup.enter)="onButtonTap()">
    </mat-form-field>
    <div class="label-div">
        <p class="small" [style.color]="correct ? 'green' : 'red'">{{ outputMessage }}</p>
        <p class="small">Tries: {{ tries }}</p>
    </div>
    <button mat-raised-button (click)="onButtonTap()">Make a guess</button>
    <button mat-raised-button [hidden]="!correct" (click)="reset()">Reset</button>
</div>